<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empresa.oscar.exportando" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainFullscreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActividadJefeAlmacen"
            android:label="@string/title_activity_actividad_jefe_almacen" >
        </activity>
        <activity
            android:name=".util.ActividadAlmacenista"
            android:label="@string/title_activity_actividad_almacenista" >
        </activity>
        <activity
            android:name=".ActicvidadAlmacenista"
            android:label="@string/title_activity_acticvidad_almacenista" >
        </activity>
        <activity
            android:name=".StorageEntrance"
            android:label="@string/title_activity_storage_entrance" >
        </activity>
        <activity
            android:name=".LeerQR_login"
            android:label="@string/title_activity_leer_qr" >
        </activity>
        <activity
            android:name=".LeerQR_prodcuto"
            android:label="@string/title_activity_leer_qr_prodcuto" >
        </activity>
        <activity
            android:name=".StorageActivity"
            android:label="@string/title_activity_storage" >
        </activity>
        <activity
            android:name=".ProductDelivery"
            android:label="@string/title_activity_product_delivery" >
        </activity>
        <activity
            android:name=".ProductReception"
            android:label="@string/title_activity_product_reception" >
        </activity>
        <activity
            android:name=".EntranceAndReady"
            android:label="@string/title_activity_entrance_and_ready" >
        </activity>
        <activity
            android:name=".StorageReady"
            android:label="@string/title_activity_storage_ready" >
        </activity>
        <activity
            android:name=".DealerActivity"
            android:label="@string/title_activity_dealer" >
        </activity>
        <activity
            android:name=".PurchaseActivity"
            android:label="@string/title_activity_purchase" >
        </activity>
        <activity
            android:name=".LossActivity"
            android:label="@string/title_activity_loss" >
        </activity>
        <activity
            android:name=".OrderCodeActivity"
            android:label="@string/title_activity_order_code" >
        </activity>
    </application>

</manifest>
